.App {
  display: flex;
  flex-direction: column;
  background-color: #E6E3D3;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.container {
  margin: 15px 15px;
  border-radius: 10px;
  width: 450px;
  background-color: #C1BEB7;
}

.header {
  padding: 5px;
}

.main-content{
  padding: 50px 10px;
  margin-top: 20px;
  border-top: black dashed 2px;
}

.contact {
  border: black solid 1px;
  border-radius: 5px;
  background-color: #5E7691;
  color: white;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.contact-avatar {
  margin: auto 15px;
  width: 80px;
  height: 80px;
  border-radius: 999px;
  overflow: hidden;
}

.contact-info {
  margin: auto;
}

.text-bold{
  font-weight: bold;
}